# Python
__pycache__

# Share Storage
*.png

# Airflow
airflow.db
airflow/app/logs/*
!airflow/app/logs/.gitkeep
airflow-webserver.pid
share_storages/*
!share_storages/spark_jobs
!share_storages/.gitkeep
