# Python
__pycache__

# Share Storage
share_storages/*
!share_storages/spark_jobs
!share_storages/.gitkeep

# Jupyterlab
jupyterlab/config/lab/*
jupyterlab/config/migrated

# Airflow
airflow-webserver.pid
airflow.db
airflow/app/logs/*
!airflow/app/logs/.gitkeep


